body{

}
*{
    box-sizing: border-box;
}
.header{
    background-color: #eee;
    padding: 20px;
}
.page{
    width:600px;
    margin:20px auto;
}
.sidebar{
    width:200px;
    background-color: black;
    padding: 20px;
}
.main{
    width:400px;
    background-color:#ccc;
    padding: 20px;
}
.footer{
    background-color: #eee;
    padding: 20px;
}
.content{
    display:flex;
}